@import url("./reset.css");

body {
  background-color: #e9e8da;
  height: auto;
  color: #45563f;
  font-family: "TT Commons Pro", sans-serif;
  font-size: 16px;

  /* overflow-x: hidden; */
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1400px;
  /* max-width: 480px; */
}

.header {
  padding: 30px 0;
  width: 100%;
  background-color: #e9e8da;
  border-bottom: 0.5px solid #45563f;
}
.header__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
.header__logo {
  justify-self: start;
  width: 50px;
  height: 50px;
}
.header__text-logo {
  justify-self: center;
  width: 185px;
  height: 50px;
}
.header__decor {
  justify-self: end;
  width: 50px;
  height: 50px;
}
.main {
}
.hero-section {
  padding: 80px 16px;
}
.hero-container {
  background-color: #a7b09f;
  padding: 48px 24px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.hero__title {
  font-size: 48px;
  color: #45563f;
  max-width: 350px;
}
.hero__text {
  line-height: 1.5;
  color: #45563f;
}

.menu-section {
  margin-bottom: 50px;
}

.menu-container {
}
.menu__title {
  font-size: 28px;
  color: #45563f;
  text-align: center;
  margin-bottom: 40px;
}
.menu__list {
  background-color: #a7b09f;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.menu__item {
  width: 100%;
}
.menu__category-title {
  font-size: 22px;
  color: #45563f;
  border-bottom: 0.5px solid #45563f;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.category__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
}
.category__item {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  border: 0.5px solid #45563f;
  background-color: #e9e8da;
  border-radius: 10px;
  padding: 10px;
}
.dish__image {
  width: 200px;
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
.dish__description {
  /* border-radius: 10px; */
  display: flex;
  border-bottom: 0.5px solid #45563f;
  padding-bottom: 10px;
  flex-direction: column;

  gap: 10px;
}
.dish__name {
  font-size: 18px;
  color: #45563f;
  font-weight: 700;
}
.dish__text {
  font-size: 16px;
  line-height: 1.5;
  color: #45563f;
}
.dish__price {
  font-size: 18px;
  color: #45563f;
  font-weight: 700;
}
.dish__add {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  background-color: #45563f;
  color: #e9e8da;
  font-weight: 700;
}
