@import url("./reset.css");
@import url("./header.css");
@import url("./footer.css");
@import url("./modal.css");
@import url("./favorites.css");
body {
  background-color: #e9e8da;
  height: auto;
  color: #45563f;
  font-family: "TT Commons Pro", sans-serif;
  font-size: 16px;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1400px;
  /* max-width: 480px; */
}

.main {
}
.hero-section {
  padding: 80px 0px;
}
.hero-container {
  background-color: #a7b09f;
  padding: 80px 24px;
  border-radius: 12px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/italian-restaurant-decor-interior-banner2-1.jpg.webp")
      center/cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.hero__title {
  font-size: 36px;
  color: #e9e8da;
  max-width: 350px;
}
.hero__title span {
  font-weight: 700;
}
.hero__text {
  line-height: 1.5;
  color: #e9e8da;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.hero__btn {
  padding: 14px 32px;
  border-radius: 20px;
  font-size: 18px;
  background-color: #45563f;
  color: #e9e8da;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 250ms;
}
.hero__btn:hover {
  background-color: #2c3927;
  color: #f8f6d9;
}
.hero__audio-svg {
  width: 20px;
  height: 20px;
  display: block;
  stroke: #e9e8da;
  fill: #e9e8da;
  transition: all 250ms;
}
.hero__btn.hero__audio-svg:hover {
  stroke: #f8f6d9;
  fill: #f8f6d9;
}
@media (min-width: 768px) {
  .hero-container {
    background-color: #a7b09f;
    padding: 100px 24px;
    border-radius: 12px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
  }
  .hero__title {
    font-size: 48px;
    color: #e9e8da;
    max-width: 550px;
  }
  .hero__text {
    line-height: 1.5;
    color: #e9e8da;
    font-size: 18px;
  }
}
.menu-section {
  margin-bottom: 50px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu__title {
  font-size: 28px;
  color: #45563f;
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
}
.menu__container {
  background-color: #a7b09f;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.menu__item {
  width: 100%;
}
.menu__category-title {
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #45563f;
  background-color: #e9e8da;
  border: 0.5px solid #45563f;
  border-radius: 20px;
  padding: 12px 20px;
  margin-bottom: 20px;
}
.category__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.category__item {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  border: 0.5px solid #45563f;
  background-color: #e9e8da;
  border-radius: 10px;
  padding: 10px;
  transition: all 250ms;
}
.category__item:hover {
  background-color: #deddcf;
}
.dish__image {
  width: 200px;
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
.dish__description {
  /* border-radius: 10px; */
  display: flex;

  padding-bottom: 10px;
  flex-direction: column;

  gap: 10px;
}
.dish__name {
  font-size: 18px;
  color: #45563f;
  font-weight: 700;
}
.dish__text {
  font-size: 16px;
  line-height: 1.5;
  color: #45563f;
}
.dish__price {
  font-size: 18px;
  color: #45563f;
  font-weight: 700;
  border-bottom: 0.5px solid #45563f;
  padding-bottom: 10px;
}
.dish__btn-wrapper {
  display: flex;
  align-items: center;
  gap: 14px;
}
.dish__add {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  background-color: #45563f;
  color: #e9e8da;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 250ms;
}
.dish__add:hover {
  background-color: #2c3927;
  color: #f8f6d9;
}
.dish__add-svg {
  width: 20px;
  height: 20px;
  display: block;
  stroke: #e9e8da;
  fill: #e9e8da;
  transition: all 250ms;
}
.dish__add-svg:hover {
  background-color: #2c3927;
  color: #f8f6d9;
}
.dish-btn-audio {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  background-color: #45563f;
  color: #e9e8da;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 250ms;
}
.dish-btn-audio:hover {
  background-color: #2c3927;
  color: #f8f6d9;
}
.dish__audio-svg {
  width: 20px;
  height: 20px;
  display: block;
  stroke: #e9e8da;
  fill: #e9e8da;
  transition: all 250ms;
}
.dish-btn-audio.dish__audio-svg:hover {
  stroke: #f8f6d9;
  fill: #f8f6d9;
}
@media (min-width: 900px) {
  .category__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    /* flex-basis: calc((100% / 2) - 30px); */
  }
  .category__item {
    max-width: 100%;

    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    border: 0.5px solid #45563f;
    background-color: #e9e8da;
    border-radius: 10px;
    padding: 10px;
  }
  .dish__image {
    width: 200px;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    flex: 0 1 400px;
    min-width: 400px;
  }
  .dish__description {
    /* border-radius: 10px; */
    display: flex;
    flex: 1 1 auto;
    padding-bottom: 10px;
    flex-direction: column;

    gap: 10px;
  }
}
.footer {
  padding: 30px 0;
  width: 100%;
  background-color: #e9e8da;
  border-top: 0.5px solid #45563f;
}
